#Confirmation {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

#Confirmation h1 {
    margin-bottom: 2rem;
}

.button {
    color: white;
    background-color: #32ACDB;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    margin: 2rem 2rem;

}

.button:hover {
    background-color: #1983c2;
}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}