section{
    display: flex;
    flex-direction: column;
}

.InputContact{
    border-radius: 3rem;
    border-width: 1px;
    padding: 0.3rem 0.8rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

.areaMessage{
    border-radius: 15px;
    border-width: 1px;
    padding: 0.3rem 0.8rem;
    height: 7rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

.marginh2{
    margin-top: 3%;
}

#checkContact{
    height: 1.5rem;
    width: 1.5rem;
}

#centrerh1{
    text-align: center;
}

#buttonContact{
    background-color:#32ACDB;
    color: white;
    border-radius: 15px;
    border: 0px;
    height: 4rem;
    width: 12rem;
    margin: auto;
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.size90{
    width: 90%;
    margin: auto;
}

.size40{
    width: 47%;
    margin: auto;
}

.Row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noMarginLeft{
    margin-left: 0;
}

.noMarginRight{
    margin-right: 0;
}