.iconBlue{
    color: #1983C2;
    padding-right: 1%;
}

.BackgroundBlue{
    background-color: #32ACDB;
    border-radius: 15px;
    border: 0px;
    padding:  1%;
    color: white;
    max-width: 15em;
}

.TailleAgenda{
    width: 325px;
    height: 400px;
}

.allagenda{
    width: 86%;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    margin: auto;
    column-gap: 7rem;
    grid-auto-rows: 340px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.ImageOiseauxAgenda{
    width: 325px;
    border-radius: 10px;
}

.imageAgenda{
    position: relative;
}
.categorie{
    position: absolute;
    bottom: 10%;
    left: 3%;
    background: #0059A9;
    border-radius: 20px;
    padding: 1%,2%;
    color: white;
    padding: 2px 10px;
}

.dateAgenda{
    position: absolute;
    top: 2%;
    right: 4%;
    background: #1983C2;
    border-radius: 20px;
    padding: 1%,2%;
    color: white;
    padding: 2px 10px;
    text-align: center;
}

#buttonEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}