*{
    margin: 0;
    padding: 0;
 
}
#contenair{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .logoRSX .inputRecherche .logoDark .Accessibilite{
    
    justify-content: space-evenly;
   
}
.logoRSX{

display: flex;
flex-direction: row;
column-gap: 1rem;
}

.logoBeuzeville{
    max-width: 25%;
    
}
.inputRecherche{
  
  
    display: flex;
  
}

.logoDark{
   
}
.Accessibilite{
    
}

.inputRecherche{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    font-size: 2rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid;
    backdrop-filter: blur(25px);
    position: relative;
    bottom: 0;
    /* margin-top: 5rem; */
    /* transform: translateY(500%); */
   
    /* z-index: 1; */
    /* top: 0; */
    /* transform: translateY(500%);*/
    width: 30%;
}
.inputRecherche input{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    /* padding: 0 1rem 0 1rem; */
    text-align: center;
  
}




.menuBoutton {
    border-radius: 2rem;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
}

.blue {
    color: #0059A9;
}