* {
    text-decoration: none;
}

.container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    justify-content: center;
    margin: 2rem auto;
    column-gap: 7rem;
    row-gap: 3rem;
    grid-auto-rows: 380px;
}