* {
    text-decoration: none;
}

.obligatoire {
    color: red;
}

.container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
   
    margin: 0.5rem auto;
    column-gap: 7rem;
    grid-auto-rows: 340px;
}